input[type="number"] {
  -moz-appearance: textfield; /* For Firefox */
  appearance: textfield; /* Standard property */
}

/* Hide the spinner arrows for WebKit browsers (Chrome, Safari, Edge) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; /* Remove any default margin */
}

.logo-img {
  filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.5));
  z-index: 999;
}
